*.code-workspace
.DS_Store
.Spotlight-V100
.Trashes
._*
.env
.envrc
.eslintcache
.idea
.npm
.python/.DS_Store
Thumbs.db
crash.log
ehthumbs.db
jspm_packages/
logs
node_modules/
npm-debug.log
npm-debug.log*
